@use '../custom' as *;

.header {
    margin-top: 3rem;
    margin-bottom: 3rem;
    
    @include media-breakpoint-up(md) {
        margin-top: 10rem;
        margin-bottom: 10rem;
    }

    
}
.logo {
    width: 10rem;
}